<div class="container__content container__content--large container__content--with-shadow">
  <section class="hero-banner">
    <div class="hero-banner__background-wrapper">
      <img src="{{ site.url }}/assets/images/home/icon-home.svg" class="hero-banner__background-icon">
      <img src="{{ site.url }}{{ page.content_hero_path }}" class="hero-banner__background-image hero-banner__background-image--home-{{page.hero_name}}">
      <div class="hero-banner__home-gradient-layer"></div>
    </div>
    <div class="hero-banner__content">
      <h2 class="hero-banner__title">{{ page.content_title }}</h2>
      <p class="hero-banner__description">{{ page.content_headline }}</p>
      <a data-cta="true" data-analytics-cta="{{ page.cta1 }}" data-product="{{ page.product_id }}"  href="{{ site.helpers.home_new_order_path }}" class="button button--primary button--with-shadow button--large">
        <span class="txt--strong txt--no-break">fazer minha cotação</span>
        <br><span class="button--large__secondary-label"><em class="txt--strong">é grátis</em> e leva só <em class="txt--strong">5 minutinhos</em></span>
      </a>
    </div>
  </section>

  <div class="container__content">
    <section class="insurance-benefits">
      <h3 class="insurance-benefits__title">Nossos serviços de <em class="txt--strong">Coberturas e Assistências</em></h3>
      <div class="assistance-cards-collection">
        {% for assistance in page.assistances %}
          <article class="assistance-cards-collection__item">
            <div class="card">
              {% if assistance.is_large == true %}
                <img src="{{ site.url }}{{ assistance.image_path }}" class="card__image card__image--large">
              {% else %}
                <img src="{{ site.url }}{{ assistance.image_path }}" class="card__image card__image--small">
              {% endif %}
              <h4 class="card__title">{{ assistance.title }}</h4>
              <p class="card__description">{{ assistance.description }}</p>
            </div>
          </article>
        {% endfor %}
      </div>
    </section>
  </div>

  <section class="hire-now">
    <p class="hire-now__title">
      Contrate agora,
      <br class="hide--tablet hide--desktop">do seu jeito.
      <br><em class="txt--strong">É 100% online e rapidinho!</em>
    </p>
    <a data-cta="true" data-analytics-cta="{{ page.cta2 }}" data-product="{{ page.product_id }}"  href="{{ site.helpers.home_new_order_path }}" class="button button--primary">fazer minha cotação</a>
  </section>

  <div class="container__content">
    <section class="reasons-to-hire">
      <p class="reasons-to-hire__title">
        Por que ter um
        <br><em class="txt--strong">Seguro Residencial Youse?</em>
      </p>

      <ul class="cards-collection">
        <li class="cards-collection__item">
          <div class="card">
            <img src="{{ site.url }}/assets/images/icon-wow.svg" class="card__image card__image--large">
            <h5 class="card__title">Contrate online, em poucos minutos e acione agora</h5>
            <p class="card__description">É vc quem escolhe as coberturas e assistências que quer contratar, deixando tudo como realmente precisa. <a href="{{ site.helpers.home_new_order_path }}" >Comece a contratar agora</a> e em poucos passos vc já está segurado, com a <em class="txt--strong">apólice na mão</em> e, ah, é sem carência</p>
          </div>
        </li>
        <li class="cards-collection__item">
          <div class="card">
            <img src="{{ site.url }}/assets/images/icon-protect.svg" class="card__image card__image--large">
            <h5 class="card__title">Conte com reparos e manutenções preventivas</h5>
            <p class="card__description">Nós sabemos que casa sempre precisa de uma mãozinha. E é por isto que <em class="txt--strong">estamos sempre por perto</em> em caso de emergência e <em class="txt--strong">te ajudamos a ser preventivo</em> arrumando o que é necessário pra deixar sua casa do seu jeito</p>
          </div>
        </li>
        <li class="cards-collection__item">
          <div class="card">
            <img src="{{ site.url }}/assets/images/icon-home-personal.svg" class="card__image card__image--large">
            <h5 class="card__title">É personalizado do seu jeito e cabe no bolso</h5>
            <p class="card__description">Contratar serviços avulsos, como um encanador, custa muito mais caro do que estar sempre protegido. Com a gente vc personaliza tudo e fica protegido pagando uma <em class="txt--strong">mensalidade justa dentro do seu orçamento familiar</em></p>
          </div>
        </li>
      </ul>

      <a data-cta="true" data-analytics-cta="{{ page.cta3 }}" data-product="{{ page.product_id }}"  href="{{ site.helpers.home_new_order_path }}" class="button button--primary">fazer minha cotação</a>
    </section>
  </div>
</div>
