.main-header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 48px;
  padding-top: 14px;
  transition: background-color 300ms, height 300ms;
  z-index: $z-index-header;

  @include media($desktop) {
    height: 80px;
    padding-top: 24px;
  }

  .container__content {
    background-color: transparent;
  }

  &.main-header--scrolled {
    background-color: $background-content-color;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
    position: fixed;
  }
}

.main-header__logo {
  //background: url('data:image/svg+xml;utf8,<svg width="127" height="38" viewBox="0 0 127 38" xmlns="http://www.w3.org/2000/svg"><title>793A9235-A08E-4917-BDEF-C8B80E9947A0</title><g fill="none" fill-rule="evenodd"><path d="M106.924 9.028c2.627 0 4.73 1.54 5.395 3.977H101.61c.794-2.433 2.804-3.977 5.312-3.977zm4.56 10.05c-.918 1.656-2.717 2.43-4.56 2.43-2.532.06-4.77-1.654-5.398-4.132H117.8c.794-8.265-4.476-13.048-10.836-13.048-6.065.003-11.06 4.948-11.06 10.997 0 6.048 4.98 10.9 11.047 10.9 4.38 0 7.724-1.925 9.484-4.97l-4.95-2.178zM85.033 26.216c-5.48 0-9.523-2.798-10.21-7.292h5.606c.75 1.783 2.954 2.433 4.596 2.433 2.217 0 3.89-.663 3.89-1.863s-.75-1.657-4.517-2.227c-3.85-.567-8.995-1.58-8.995-6.24 0-3.282 2.956-6.686 9.194-6.686 4.925 0 8.62 2.596 9.328 6.527H88.21c-.327-.974-1.545-1.743-3.61-1.743-2.552 0-3.613.89-3.613 1.657 0 1.095 1.59 1.46 4.27 1.867 5.355.852 9.193 1.99 9.193 6.526 0 4.133-3.94 7.05-9.453 7.05M63.35 26.216c-6.024 0-9.58-3.852-9.58-9.32V4.858h5.523v12.197c0 1.177.42 3.977 4.058 3.977 2.428 0 4.185-1.657 4.185-3.977V4.858h5.523v12.035c0 5.302-3.85 9.32-9.707 9.32" fill="#FFF"/><path d="M51.93 32.616c0-2.692-2.146-4.266-4.793-4.266h-12.1c-2.65 0-4.794 1.574-4.794 4.266h21.69-.002zM46.38 15.355c0-3.606-2.385-6.118-5.314-6.118-2.93 0-5.313 2.512-5.313 6.118 0 3.526 2.384 5.965 5.313 5.965 2.93 0 5.313-2.43 5.313-5.965m5.564-.04c0 6.24-4.896 10.9-10.878 10.9-5.983 0-10.833-4.66-10.833-10.89 0-6.052 4.86-10.96 10.857-10.96 5.997 0 10.857 4.908 10.857 10.96" fill="#FCAF17"/><path fill="#FFF" d="M22.83 26.173h-5.39V18.91L8 4.86h6.04l6.073 8.697 6.12-8.697h6.036L22.83 18.91"/></g></svg>') no-repeat top left;
  background: url('images/youse-logo-negative.svg') no-repeat top left;
  background-size: contain;
  float: left;
  height: 24px;
  overflow: hidden;
  text-indent: 99999px;
  width: 90px;
  // This image SVG lives unoptimized at images/youse-logo-negative.svg

  @include media($desktop) {
    height: 32px;
    width: 120px;
  }
}

.main-header__cta {
  @include title-3($text-negative-color);

  float: right;
  padding-top: 0;

  @include media($desktop) {
    padding-top: 4px;
  }
}

.main-header__cta-label {
  @include text-3($text-negative-color);
}

.main-header--scrolled {
  .main-header__logo {
    // This image SVG lives unoptimized at images/youse-logo.svg
    // background-image: url('data:image/svg+xml;utf8,<svg width="127" height="38" viewBox="0 0 127 38" xmlns="http://www.w3.org/2000/svg"><title>EEDA9B00-94F6-4D00-B2A5-287A5A23ECDC</title><g fill="none" fill-rule="evenodd"><path d="M106.924 9.028c2.627 0 4.73 1.54 5.395 3.977H101.61c.794-2.433 2.804-3.977 5.312-3.977zm4.56 10.05c-.918 1.656-2.717 2.43-4.56 2.43-2.532.06-4.77-1.654-5.398-4.132H117.8c.794-8.265-4.476-13.048-10.836-13.048-6.065.003-11.06 4.948-11.06 10.997 0 6.048 4.98 10.9 11.047 10.9 4.38 0 7.724-1.925 9.484-4.97l-4.95-2.178zM85.033 26.216c-5.48 0-9.523-2.798-10.21-7.292h5.606c.75 1.783 2.954 2.433 4.596 2.433 2.217 0 3.89-.663 3.89-1.863s-.75-1.657-4.517-2.227c-3.85-.567-8.995-1.58-8.995-6.24 0-3.282 2.956-6.686 9.194-6.686 4.925 0 8.62 2.596 9.328 6.527H88.21c-.327-.974-1.545-1.743-3.61-1.743-2.552 0-3.613.89-3.613 1.657 0 1.095 1.59 1.46 4.27 1.867 5.355.852 9.193 1.99 9.193 6.526 0 4.133-3.94 7.05-9.453 7.05M63.35 26.216c-6.024 0-9.58-3.852-9.58-9.32V4.858h5.523v12.197c0 1.177.42 3.977 4.058 3.977 2.428 0 4.185-1.657 4.185-3.977V4.858h5.523v12.035c0 5.302-3.85 9.32-9.707 9.32" fill="#6B7B84"/><path d="M51.93 32.616c0-2.692-2.146-4.266-4.793-4.266h-12.1c-2.65 0-4.794 1.574-4.794 4.266h21.69-.002zM46.38 15.355c0-3.606-2.385-6.118-5.314-6.118-2.93 0-5.313 2.512-5.313 6.118 0 3.526 2.384 5.965 5.313 5.965 2.93 0 5.313-2.43 5.313-5.965m5.564-.04c0 6.24-4.896 10.9-10.878 10.9-5.983 0-10.833-4.66-10.833-10.89 0-6.052 4.86-10.96 10.857-10.96 5.997 0 10.857 4.908 10.857 10.96" fill="#FCAF17"/><path fill="#6B7B84" d="M22.83 26.173h-5.39V18.91L8 4.86h6.04l6.073 8.697 6.12-8.697h6.036L22.83 18.91"/></g></svg>');
    background-image: url('images/youse-logo.svg');
  }

  .main-header__cta,
  .main-header__cta-label {
    color: $text-color;
  }
}
