// TEXT
$text-color: #384149;
$text-primary-color: #4d5255;
$text-accent-color: #6b7b84;
$text-negative-color: #ffffff;

// BACKGROUND
$background-color: #d7d9dd;
$background-content-color: #ffffff;
$background-content-highlight-color: #f8f8f8;
$background-negative-accent-color: #f7941e;
$background-negative-accent-hover-color: #fcaf17;
$background-highlight-color: #623b9b;
